@page {
  size: auto;
  margin: 0mm;
}

html, body {
  margin:0;
  padding:0;
  font-size: 12pt;
}

div.rules section {
  page-break-after: always;
}

div.rules article {
  page-break-inside: avoid;
}

div.rules {
  margin: 5mm;
}

.row {
  display: flex;
  page-break-inside: avoid;
  justify-content: space-between;
}

.page {
  page-break-before: always;
}