@page {
  size: auto;
  margin: 0mm;
}

html, body {
  margin:0;
  padding:0;
  font-size: 12pt;
}

section, article {
  page-break-inside: avoid;
}

article {
  margin: 2mm;
}

.row {
  display: flex;
  page-break-inside: avoid;
  justify-content: space-between;
}

.page {
  page-break-before: always;
}